.container{
  border: 5px solid black;
  margin: auto;
  margin-top: 4rem;
  width: 25rem;
  padding: 1rem;
  display: block;

}
.grid-container{
  display: grid;
  grid-template-columns: 8.2rem 8.2rem auto;
  grid-template-rows: 8.2rem 8.2rem auto;
  width: 25rem;
  margin: auto;
}

.grid-container > *{
  border: 0.1rem solid black;
  background-color: aqua;
  text-align: center;
  font-size: 5.5rem;
  height: 8rem;
  max-height: 8rem;
  width: 8rem;
  max-width: 8rem;
  cursor: pointer;
}